
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />

<title>book search</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>

<body>
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Search Book <i class="material-icons">book</i></a> 
			<a href="login"	sec:authorize="isAnonymous()" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
				<i class="material-icons">assignment_ind</i>
			</a>
			<ul class="right hide-on-med-and-down" sec:authorize="isAuthenticated()">
				<li>
					<a data-target="search-history" id="mybtn" class="btn modal-trigger waves-effect waves-light btn" th:text="${#authentication.principal.username}"></a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container" sec:authorize="isAnonymous()">
		<h2>NEED LOGIN<i class="Large material-icons">assignment_ind</i></h2>
	</div>


	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
       					<div class="input-field col s9"><input id="search" placeholder="search keyword" type="text"></div>
       					<div class="input-field col s3"><a class="waves-effect waves-light btn" id="searchBtn"><i class="material-icons left">search</i>search</a></div>
					</div>
				</div>
			</form>
			
			<div id="keyword-tag"></div>
		</div>
		
		<div id="book-detail" class="modal">
			<div class="modal-content">
				<h4 id="book-title"></h4>
				<ul class="collection">
					<li class="collection-item" id="book-img"></li>
					<li class="collection-item" id="book-isbn"></li>
					<li class="collection-item" id="book-authors"></li>
					<li class="collection-item" id="book-datetime"></li>
					<li class="collection-item" id="book-price"></li>
					<li class="collection-item" id="book-salePrice"></li>
					<li class="collection-item" id="book-publisher"></li>
					<li class="collection-item" id="book-contents"></li>
				</ul>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
			</div>
		</div>
				
		<div id="search-history" class="modal">
			<div class="modal-content">
				<ul class="collection" id="keyword-history"></ul>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
			</div>
		</div>
		
	
		<ul class="collection" id="book-list"></ul>
		<ul class="pagination" id="book-page"></ul>
	</div>


	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">This is "Search Book" Application</h5>
					<p class="grey-text text-lighten-4">use kakao, want kakao, play kakao, love kakao</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Page Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="/">INDEX</a></li>
						<li><a class="grey-text text-lighten-3" href="/join">JOIN</a></li>
						<li><a class="grey-text text-lighten-3" href="/login">LOGIN</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2019 By jylee <a class="grey-text text-lighten-4 right"
					href="/pdf/jylee_info.pdf">More Info</a>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="/js/search.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			searchBook.init();
		});
	
	</script>
</body>
</html>